In [8]:
import pandas as pd
import os

In [9]:
files=os.listdir('../analysis_data/')
files

['census_and_fare',
 'census_and_trips',
 'census_data.csv',
 'community.csv',
 'community_final.csv',
 'comm_area.csv',
 'dropoff_geoloc.csv',
 'Fare.csv',
 'p1.csv',
 'payment.csv',
 'pickup.csv',
 'pickup_census.csv',
 'pickup_geoloc.csv',
 'time.csv']

In [10]:
df=pd.DataFrame(pd.read_csv('../analysis_data/comm_area.csv'))
df.head()

   Dropoff Community Area  Trip Count  Average Fare
0                     1.0       17120     15.466315
1                     2.0       15470     14.140873
2                     3.0       59850     12.627093
3                     4.0       23973     14.536062
4                     5.0       30382     13.901537

In [11]:
gb=df.groupby('Dropoff Community Area')
df1=pd.DataFrame()
df1['Trip Count']=gb['Trip Count'].sum()
df1['Average Fare']=gb['Average Fare'].mean()
df2=df1.reset_index()

In [12]:
df2['Trip Count'].sum()

110501264

In [13]:
df2.to_csv('../analysis_data/dropoff_final.csv')