This notebook concats the csv generated from the api requests, cleans and puts it in a new csv file

In [12]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_list=os.listdir('data')

df0=pd.DataFrame(pd.read_csv('data/'+file_list[0]))

for file in file_list[1:]:
    df1=pd.DataFrame(pd.read_csv('data/'+file))
    df0=pd.concat([df0,df1])
    
df0.head()

,Unnamed: 0,company,dropoff_census_tract,dropoff_centroid_latitude,dropoff_centroid_location,dropoff_centroid_longitude,dropoff_community_area,extras,fare,payment_type,...,pickup_community_area,taxi_id,tips,tolls,trip_end_timestamp,trip_id,trip_miles,trip_seconds,trip_start_timestamp,trip_total
0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.25,Cash,...,NaN,c2280976049b22e58ce53a17263114616be76981b9ac56...,0.0,0.0,2013-01-01T00:30:00.000,0c2b3705c9748a5949bf5b7d727b2d1f2e18805f,12.30,1320.0,2013-01-01T00:00:00.000,26.25
1,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.25,Cash,...,NaN,34ed8ae3af562da8ab7ee7aa07c83287baf647219d79cf...,0.0,0.0,2013-01-01T00:00:00.000,14d153489190cdd6a9b37d13b530e74693bebae6,0.00,0.0,2013-01-01T00:00:00.000,3.25
2,2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.05,Cash,...,NaN,2130bc5fd239a4e3b304662424fb4cc7db0ca7abf78cc5...,0.0,0.0,2013-01-01T00:15:00.000,22e77faefea126a4f07bcb6d954e17cff50eb993,1.80,480.0,2013-01-01T00:00:00.000,8.05
3,3,Dispatch Taxi Affiliation,NaN,NaN,NaN,NaN,NaN,1.0,10.05,Cash,...,NaN,4338d505c2d076e5434fcc2f6547636e6f989a2ac7a28e...,0.0,0.0,2013-01-01T00:15:00.000,240bc0642a4e26ae4589bdb4c3b5cb15ad605a27,0.00,1080.0,2013-01-01T00:00:00.000,11.05
4,4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16.25,Cash,...,NaN,d5c8316aaa128f1979e9e3ee66572265161613d11e1335...,0.0,0.0,2013-01-01T00:15:00.000,2addce805887168d695b67f59e4129eab75f9e78,6.95,660.0,2013-01-01T00:00:00.000,16.25

In [4]:
df0.columns

Index(['Unnamed: 0', 'company', 'dropoff_census_tract',
       'dropoff_centroid_latitude', 'dropoff_centroid_location',
       'dropoff_centroid_longitude', 'dropoff_community_area', 'extras',
       'fare', 'payment_type', 'pickup_census_tract',
       'pickup_centroid_latitude', 'pickup_centroid_location',
       'pickup_centroid_longitude', 'pickup_community_area', 'taxi_id', 'tips',
       'tolls', 'trip_end_timestamp', 'trip_id', 'trip_miles', 'trip_seconds',
       'trip_start_timestamp', 'trip_total'],
      dtype='object')

In [5]:
clean_df=df0[['dropoff_census_tract',
       'dropoff_centroid_latitude',
       'dropoff_centroid_longitude', 'dropoff_community_area',
       'fare', 'payment_type', 'pickup_census_tract',
       'pickup_centroid_latitude',
       'pickup_centroid_longitude', 'pickup_community_area',
              'trip_end_timestamp', 'trip_id', 'trip_miles', 'trip_seconds',
       'trip_start_timestamp', 'trip_total']]
clean_df.to_csv('output/clean_data.csv')