In [1]:
%matplotlib inline
import gmaps
import gmaps.datasets
import pandas as pd
import numpy as np
gmaps.configure(api_key="AIzaSyA8oeivFdyQV_4RfvxgMWQWwzMxl2d0WlE")

In [2]:
df=pd.read_csv('../analysis_data/pickup_geoloc.csv',
#                usecols=['Pickup Centroid Latitude','Pickup Centroid Longitude'],
              dtype={
                  'Pickup Centroid Longitude':float,
                  'Pickup Centroid Latitude':float
              })
df.head()

   Unnamed: 0  Pickup Centroid Latitude  Pickup Centroid Longitude
0           0                 41.922083                 -87.634156
1           1                 41.899156                 -87.626211
2           2                 41.892508                 -87.626215
3           3                 41.892042                 -87.631864
4           4                 41.892508                 -87.626215

In [3]:
gb=df.groupby(['Pickup Centroid Latitude','Pickup Centroid Longitude'])
df1=gb.count().reset_index()

In [4]:
df1.head()

   Pickup Centroid Latitude  Pickup Centroid Longitude  Unnamed: 0
0                 41.660136                 -87.602848         443
1                 41.660493                 -87.646958           3
2                 41.663671                 -87.540936         604
3                 41.663760                 -87.637304           5
4                 41.667365                 -87.605316           1

In [5]:
df1.rename(columns={
    'Pickup Centroid Latitude':'latitude',
    'Pickup Centroid Longitude':'longitude',
    'Unnamed: 0':'Weights'
},
          inplace=True)
df1.head()

    latitude  longitude  Weights
0  41.660136 -87.602848      443
1  41.660493 -87.646958        3
2  41.663671 -87.540936      604
3  41.663760 -87.637304        5
4  41.667365 -87.605316        1

In [6]:
locations = df1[['latitude', 'longitude']]

fig = gmaps.figure(layout={'width': '400px', 'height': '300px'})

fig.add_layer(gmaps.heatmap_layer(
    locations,
    weights=df1['Weights'],
    max_intensity=100,
    point_radius=4,
    dissipating=True))

fig

Figure(layout=FigureLayout(height='300px', width='400px'))

In [ ]:
help(gmaps.heatmap_layer)