In [3]:
# !pip install Socrata, if it isn't already installed
# Socrata is a online server that hosts a number of datasets

import pandas as pd
from sodapy import Socrata

app_token='hIX2gB8mcj40sF80ML4xw2qzC'

client = Socrata("data.cityofchicago.org", app_token)

#'wrvz-psew' is the taxi trips dataset, and we set the limit to the number of rows of data we want

results = client.get("wrvz-psew", limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [4]:
results_df.head()

,company,dropoff_census_tract,dropoff_centroid_latitude,dropoff_centroid_location,dropoff_centroid_longitude,dropoff_community_area,extras,fare,payment_type,pickup_census_tract,...,pickup_community_area,taxi_id,tips,tolls,trip_end_timestamp,trip_id,trip_miles,trip_seconds,trip_start_timestamp,trip_total
0,Dispatch Taxi Affiliation,17031081402,41.891971508,"{'type': 'Point', 'coordinates': [-87.61294541...",-87.612945414,8,0,9.25,Cash,17031281900,...,28,7b71bd5b43b70999e3c9e047b26bdb5d01cd3ed9362c3b...,0,0,2014-06-11T08:30:00.000,9aaa3db736982293b91ddc6137e64018ffe9a748,2.6,720,2014-06-11T08:15:00.000,9.25
1,NaN,NaN,41.874005383,"{'type': 'Point', 'coordinates': [-87.66351754...",-87.66351755,28,0,19.05,Cash,NaN,...,3,221166952b9901c17bf6348260fa6e2bcfe2f5491e9d13...,0,0,2014-09-20T12:00:00.000,9aaa3dca2f223c502a048133c42fb10a509110e4,8.3,1080,2014-09-20T11:45:00.000,19.05
2,Dispatch Taxi Affiliation,NaN,41.82371281,"{'type': 'Point', 'coordinates': [-87.60235043...",-87.602350437,36,0,11.45,Cash,NaN,...,28,dc5e22b006b5657d957e2581d452ba4722782780acb52c...,0,0,2014-01-10T18:45:00.000,9aaa3df4159940c0c1568fe49d3d4e74e592db49,4.1,660,2014-01-10T18:30:00.000,11.45
3,Taxi Affiliation Services,17031839100,41.880994471,"{'type': 'Point', 'coordinates': [-87.63274648...",-87.632746489,32,0,5.65,Cash,17031081700,...,8,8c03c339dd068ee7e343f098356709472f8838b614512b...,0,0,2015-02-03T13:45:00.000,9aaa3e1ab4c999ae62dbcc054ae51a1b9b9853d1,1,300,2015-02-03T13:45:00.000,5.65
4,NaN,17031839100,41.880994471,"{'type': 'Point', 'coordinates': [-87.63274648...",-87.632746489,32,1,3.25,Cash,17031839100,...,32,b0821d108c8b955273c503ff5a228893c2f3681c84fc9e...,0,0,2014-02-04T19:15:00.000,9aaa3e324eb3a37523db0d103e02b8c40a16ce44,0,0,2014-02-04T19:15:00.000,4.25

In [5]:
results_df.count()

company                        648747
dropoff_census_tract           714268
dropoff_centroid_latitude      970988
dropoff_centroid_location      970988
dropoff_centroid_longitude     970988
dropoff_community_area         969102
extras                         999989
fare                           999989
payment_type                  1000000
pickup_census_tract            722629
pickup_centroid_latitude       993155
pickup_centroid_location       993155
pickup_centroid_longitude      993155
pickup_community_area          993135
taxi_id                       1000000
tips                           999989
tolls                          999989
trip_end_timestamp             999839
trip_id                       1000000
trip_miles                     999997
trip_seconds                   999757
trip_start_timestamp          1000000
trip_total                     999989
dtype: int64

In [7]:
results_df.dropna(inplace=True)

In [9]:
new_df=results_df[['trip_id','trip_start_timestamp','pickup_community_area',
                   'dropoff_community_area','pickup_census_tract','dropoff_census_tract',
                  'dropoff_centroid_latitude','dropoff_centroid_longitude','trip_total']]
geoloc_df=results_df[['trip_id','dropoff_centroid_latitude','dropoff_centroid_longitude']]
census_df=results_df[['trip_id','pickup_census_tract','dropoff_census_tract']]
community_df=results_df[['trip_id','pickup_community_area','dropoff_community_area']]
time_df=results_df[['trip_id','trip_start_timestamp']]
cost_df=results_df[['trip_id','trip_total','trip_miles','trip_seconds']]

In [11]:
new_df.to_csv('taxi_trips_clean.csv')
geoloc_df.to_csv('taxi_geoloc.csv')
census_df.to_csv('taxi_census.csv')
community_df.to_csv('taxi_community.csv')
time_df.to_csv('taxi_time.csv')
cost_df.to_csv('taxi_cost.csv')