In [1]:
import os
import pandas as pd

In [2]:
file_list=os.listdir('data')

df0=pd.DataFrame(pd.read_csv('data/'+file_list[0]))

for file in file_list[1:]:
    df1=pd.DataFrame(pd.read_csv('data/'+file))
    df0=pd.concat([df0,df1])
    
df0.count()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

Unnamed: 0                    1380000
company                        888483
dropoff_census_tract           815624
dropoff_centroid_latitude     1148720
dropoff_centroid_location     1148720
dropoff_centroid_longitude    1148720
dropoff_community_area        1147040
extras                        1379980
fare                          1379980
payment_type                  1380000
pickup_census_tract            824836
pickup_centroid_latitude      1174137
pickup_centroid_location      1174137
pickup_centroid_longitude     1174137
pickup_community_area         1174107
taxi_id                       1379937
tips                          1379980
tolls                         1379980
trip_end_timestamp            1379822
trip_id                       1380000
trip_miles                    1379989
trip_seconds                  1363539
trip_start_timestamp          1380000
trip_total                    1379980
dtype: int64

In [3]:
df0.to_csv('combined_data.csv')

In [4]:
df0.head()

,Unnamed: 0,company,dropoff_census_tract,dropoff_centroid_latitude,dropoff_centroid_location,dropoff_centroid_longitude,dropoff_community_area,extras,fare,payment_type,...,pickup_community_area,taxi_id,tips,tolls,trip_end_timestamp,trip_id,trip_miles,trip_seconds,trip_start_timestamp,trip_total
0,0,Taxi Affiliation Services,NaN,41.899602,"{'type': 'Point', 'coordinates': [-87.63330803...",-87.633308,8.0,3.0,7.65,Cash,...,24.0,faf4f51a1532a17c5408c901eb429c6bb794e0f3d4cb8b...,0.0,0.0,2013-10-01T00:15:00.000,8b4b69a1ac30573e2f61eb500cef7a48616b8b42,0.0,480.0,2013-10-01T00:00:00.000,10.65
1,1,NaN,NaN,41.922686,"{'type': 'Point', 'coordinates': [-87.64948872...",-87.649489,7.0,0.0,7.25,Cash,...,7.0,ee97564f06fa3d9f3b91c737e2fba31d61078abc92c685...,0.0,0.0,2013-10-01T00:00:00.000,8b5a82cd3da8146156031f0893a7c15057583b80,1.8,420.0,2013-10-01T00:00:00.000,7.25
2,2,Taxi Affiliation Services,NaN,41.944227,"{'type': 'Point', 'coordinates': [-87.65599818...",-87.655998,6.0,1.0,8.65,Cash,...,7.0,c934ff21f441a86be68e3fd50456cf428e23ad795305c5...,0.0,0.0,2013-10-01T00:15:00.000,8ba5fd6c6904e2cc70e651335172c90b229b7d06,0.0,600.0,2013-10-01T00:00:00.000,9.65
3,3,Taxi Affiliation Services,NaN,41.878866,"{'type': 'Point', 'coordinates': [-87.62519214...",-87.625192,32.0,0.0,11.25,Cash,...,7.0,3bf619a31427ce17be154fe76dfd85361b668d17d63c33...,0.0,0.0,2013-10-01T00:15:00.000,8bf082b8c47ba8a6f6d88b672f6994a0934933f4,0.0,780.0,2013-10-01T00:00:00.000,11.25
4,4,Taxi Affiliation Services,1.703108e+10,41.892508,"{'type': 'Point', 'coordinates': [-87.62621490...",-87.626215,8.0,1.0,7.85,Cash,...,28.0,2b4a8f4987a1230a1c6dd6212e33e1b58e7b7a513a93f4...,0.0,0.0,2013-10-01T00:15:00.000,8c25a60469ae071d36f20c8c0179a4f593609165,0.1,660.0,2013-10-01T00:00:00.000,8.85