This notebook uses the census data and the taxi ride data to analyze the taxi ride data

In [1]:
import os 
import pandas as pd

In [2]:
files=os.listdir('data3')
pickup_df=pd.DataFrame(pd.read_csv('data3/{}'.format(files[2])))

In [3]:
pickup_df.head()

     Trip Start Timestamp  Pickup Census Tract    Fare
0  01/01/2013 01:00:00 AM         1.703105e+10   3.850
1  01/01/2013 01:00:00 AM         1.703106e+10   5.345
2  01/01/2013 01:00:00 AM         1.703106e+10  13.850
3  01/01/2013 01:00:00 AM         1.703107e+10  14.950
4  01/01/2013 01:00:00 AM         1.703107e+10   7.050

In [7]:
gb=pickup_df.groupby(['Pickup Census Tract','Trip Start Timestamp'])

In [8]:
census_df=pd.DataFrame(gb.mean())
census_df.head()

                                             Fare
Pickup Census Tract Trip Start Timestamp
1.703101e+10        01/01/2013 04:00:00 AM  24.45
                    01/14/2014 11:00:00 AM  35.50
                    01/28/2015 09:45:00 AM   3.25
                    02/21/2014 09:30:00 AM  31.85
                    02/21/2015 07:15:00 PM   6.65

In [12]:
census_df.reset_index(inplace=True)

In [19]:
census_df['Pickup Census Tract']=census_df['Pickup Census Tract'].astype('int64')

In [24]:
tracts=census_df['Pickup Census Tract'].unique()

In [25]:
for tract in tracts:
    df=census_df.loc[census_df['Pickup Census Tract']==tract]
    df.to_csv('{}.csv'.format(tract))

In [26]:
len(tracts)

1059